:root {
	--scheduler-font: "Arial", sans-serif;
	--scheduler-border-color: #000000;
	--scheduler-header-corner-color: #8cabff;
	--scheduler-header-darker-color: #b0ceff;
	--scheduler-header-lighter-color: #cae4ff;
	--scheduler-header-button-color: #b0ceff;
	--scheduler-header-button-darker-color: #4d6cc0;
	--scheduler-header-button-lighter-color: #dcfaff;
	--scheduler-content-darker-color: #f4f4f4;
	--scheduler-content-lighter-color: #ffffff;
	--scheduler-content-text-color: #000000;
	--scheduler-input-background-color: #ffffff;
	--scheduler-input-border-color: #8cabff;
	--scheduler-input-color: #000000;
	--scheduler-input-background-disabled-color: #f4f4f4;
	--scheduler-input-border-disabled-color: #f4f4f4;
	--scheduler-input-disabled-color: #303030;
	--scheduler-input-border-focus-color: #6281d5;
	--scheduler-default-record-background-color: #8cabff;
	--scheduler-default-record-border-color: #000000;
	--scheduler-default-lunch-break-darker-background-color: #e8c8a8;
	--scheduler-default-lunch-break-lighter-background-color: #f0d0b0;
	--scheduler-selected-record-background-color: #000000;
	--scheduler-selected-record-border-color: #000000;
	--scheduler-header-height: 50px;
	--scheduler-modal-margin-top: 25px;
	--scheduler-modal-edit-task-date-time-font-size: 30px;
}

body {
	background-color: #a0a0a0;
}

header {
	background-color: var(--scheduler-header-lighter-color);
	border: 1px solid var(--scheduler-border-color);
	box-sizing: border-box;
	display: flex;
	font-family: var(--scheduler-font);
	font-size: 24px;
	height: 50px;
	margin-bottom: 8px;
	min-width: 700px;
}

header h1 {
	box-sizing: border-box;
	display: block;
	font-size: 24px;
	height: 50px;
	line-height: 48px;
	margin: 0px;
	padding: 0px 8px;
	text-align: center;
	width: 150px;
}

header button {
	background-color: var(--scheduler-header-button-color);
	border: 2px solid var(--scheduler-header-lighter-color);
	border-radius: 4px;
	cursor: pointer;
	font-size: 28px;
	line-height: 32px;
	margin: 1px;
	overflow: hidden;
	padding: 0px 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header button:focus {
	background-color: var(--scheduler-header-corner-color);
	outline: none;
}

header button:hover {
	background-color: var(--scheduler-header-button-color);
	border-left: 2px solid var(--scheduler-header-button-lighter-color);
	border-top: 2px solid var(--scheduler-header-button-lighter-color);
	border-right: 2px solid var(--scheduler-header-button-darker-color);
	border-bottom: 2px solid var(--scheduler-header-button-darker-color);
}

header button:active {
	background-color: var(--scheduler-header-button-color);
	border-left: 2px solid var(--scheduler-header-button-darker-color);
	border-top: 2px solid var(--scheduler-header-button-darker-color);
	border-right: 2px solid var(--scheduler-header-button-lighter-color);
	border-bottom: 2px solid var(--scheduler-header-button-lighter-color);
	line-height: 34px;
}

header button:disabled {
	background-color: transparent;
	border: 1px solid var(--scheduler-header-button-color);
	color: var(--scheduler-header-button-color);
	cursor: not-allowed;
	line-height: 30px;
	margin: 3px 2px;
}

header .separator {
	border-right: 2px solid var(--scheduler-header-button-color);
	display: block;
	margin: 4px 8px;
}

header .profile {
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	margin-left: auto;
	padding: 0px 16px;
	text-align: center;
}

header .profile::before {
	color: var(--scheduler-header-corner-color);
	content: "Přihlášen";
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	margin-top: 6px;
}

.schedulerLogin {
	background-color: var(--scheduler-content-lighter-color);
	border: 1px solid var(--scheduler-border-color);
	box-sizing: border-box;
	color: var(--scheduler-content-text-color);
	display: flex;
	flex-direction: column;
	font-family: var(--scheduler-font);
	margin: 0px auto;
	padding: 16px;
	width: 250px;
}

.schedulerLogin .message {
	background-color: #ffc0c0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 16px;
	padding: 4px;
	text-align: center;
}

.schedulerLogin label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 8px;
}

.schedulerLogin label:first-child {
	margin-top: 0px;
}

.schedulerLogin select,
.schedulerLogin input[type=text],
.schedulerLogin input[type=password] {
	background-color: var(--scheduler-input-background-color);
	border: 1px solid var(--scheduler-input-border-color);
	box-sizing: border-box;
	color: var(--scheduler-input-color);
	display: block;
	font-family: var(--scheduler-font);
	font-size: 16px;
	outline: none;
	padding: 1px;
	width: 100%;
}

.schedulerLogin select:focus,
.schedulerLogin input[type=text]:focus,
.schedulerLogin input[type=password]:focus {
	border-color: var(--scheduler-input-border-focus-color);
}

.schedulerLogin input[type=submit] {
	display: block;
	margin-top: 16px;
	padding: 8px;
}

.scheduler {
	border: 1px solid var(--scheduler-border-color);
	box-sizing: border-box;
	color: var(--scheduler-content-text-color);
	font-family: var(--scheduler-font);
	min-width: 700px;
	width: 100%;
}

.scheduler div div {
	background-color: var(--scheduler-content-lighter-color);
	cursor: pointer;
	font-size: 20px;
	padding: 0px 5px;
	text-align: left;
}

.scheduler .left {
	float: left;
	width: 150px;
}

.scheduler .left div {
	background-color: var(--scheduler-header-lighter-color);
	cursor: default;
}

.scheduler .left div:first-child {
	background-color: var(--scheduler-header-corner-color);
	height: var(--scheduler-header-height);
	line-height: var(--scheduler-header-height);
	min-height: var(--scheduler-header-height);
	padding: 0px;
}

.scheduler .left div .datepicker {
	background-color: var(--scheduler-header-corner-color);
	border: none;
	box-sizing: border-box;
	display: block;
	font-family: var(--scheduler-font);
	font-size: 20px;
	font-weight: bold;
	height: 100%;
	margin: 0px;
	padding: 4px;
	text-align: center;
	width: 100%;
}

.scheduler .left div .datepicker:focus {
	background-color: var(--scheduler-input-background-color);
	color: var(--scheduler-input-color);
	outline: none;
}

.scheduler .left div .datepicker::-webkit-calendar-picker-indicator,
.scheduler .left div .datepicker::-webkit-inner-spin-button,
.scheduler .left div .datepicker::-webkit-clear-button {
	display: none;
}

.pika-table .is-selected .pika-button {
	background-color: var(--scheduler-selected-record-background-color);
	box-shadow: inset 0 1px 3px var(--scheduler-selected-record-border-color);
}

.pika-table .pika-button:hover {
	background-color: var(--scheduler-default-record-background-color);
	box-shadow: inset 0 1px 3px var(--scheduler-default-record-border-color);
}

.scheduler .left div:nth-child(even) {
	background-color: var(--scheduler-header-darker-color);
}

.scheduler .content .header {
	height: var(--scheduler-header-height);
	min-height: var(--scheduler-header-height);
}

.scheduler .content .header div {
	background-color: var(--scheduler-header-darker-color);
	cursor: default;
	height: var(--scheduler-header-height);
	line-height: var(--scheduler-header-height);
	min-height: var(--scheduler-header-height);
}

.scheduler .content .header div:nth-child(even) {
	background-color: var(--scheduler-header-lighter-color);
}

.scheduler .content div {
	display: flex;
	justify-content: center;
	padding: 0px;
	position: relative;
}

.scheduler .content div:nth-child(even) {
	background-color: var(--scheduler-content-darker-color);
}

.scheduler .content div {
	flex: 1;
}

.scheduler .content .row .record {
	background-color: var(--scheduler-default-record-background-color);
	border: 1px solid var(--scheduler-default-record-border-color);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	left: 0px;
	line-height: 24px;
	overflow: hidden;
	padding: 4px;
	position: absolute;
	text-overflow: ellipsis;
	top: 0px;
	width: 0px;
}

.scheduler .content .row .record.selected {
	border-style: dashed;
	border-width: 4px;
	padding-left: 1px;
}

.scheduler .content .row .record.selected {
	border-color: var(--scheduler-selected-record-border-color) !important;
	border-style: dashed;
	border-width: 4px;
	padding-left: 1px;
}

.scheduler .content .row .record.leftOpened {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
}

.scheduler .content .row .record.rightOpened {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
}

.scheduler .content .row .record.leftOpened.selected {
	border-left: none !important;
}

.scheduler .content .row .record.rightOpened.selected {
	border-right: none !important;
}

.scheduler .content .row .lunchBreak {
	background-color: var(--scheduler-default-lunch-break-lighter-background-color);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 0px;
}

.scheduler .content .row:nth-child(even) .lunchBreak {
	background-color: var(--scheduler-default-lunch-break-darker-background-color);
}

.schedulerModal {
	background-color: var(--scheduler-content-lighter-color);
	box-shadow: 5px 5px 5px #000000;
	color: var(--scheduler-content-text-color);
	display: block;
	font-family: var(--scheduler-font);
	margin-left: auto;
	margin-top: var(--scheduler-modal-margin-top);
	margin-right: auto;
	width: 400px;
}

.schedulerModal .header {
	background-color: var(--scheduler-content-darker-color);
	display: flex;
	padding: 4px;
	text-align: center;
}

.schedulerModal .header .title {
	display: block;
	line-height: 24px;
	width: 100%;
}

.schedulerModal .header .close {
	background-color: var(--scheduler-content-darker-color);
	color: var(--scheduler-content-text-color);
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 24px;
}

.schedulerModal .header .close:hover {
	background-color: var(--scheduler-content-lighter-color);
}

.schedulerModal .row {
	padding: 8px 10px;
}

.schedulerModal .row.horizontal {
	display: flex;
}

.schedulerModal .row.vertical {
}

.schedulerModal .row label,
.schedulerModal .row .label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	margin-right: 4px;
}

.schedulerModal .row input, 
.schedulerModal .row select, 
.schedulerModal .row textarea,
.schedulerModal .row .input {
	background-color: var(--scheduler-input-background-color);
	border: 1px solid var(--scheduler-input-border-color);
	color: var(--scheduler-input-color);
	display: block;
	font-family: var(--scheduler-font);
	font-size: 16px;
	outline: none;
	padding: 1px;
	width: 100%;
}

.schedulerModal .row input:focus, 
.schedulerModal .row select:focus, 
.schedulerModal .row textarea:focus,
.schedulerModal .row .input:focus {
	border-color: var(--scheduler-input-border-focus-color);
}

.schedulerModal .row input[disabled], 
.schedulerModal .row select[disabled], 
.schedulerModal .row textarea[disabled],
.schedulerModal .row .input[disabled] {
	background-color: var(--scheduler-input-background-disabled-color);
	border: 1px solid var(--scheduler-input-border-disabled-color);
	color: var(--scheduler-input-disabled-color);
}

.schedulerModal .row input[readonly], 
.schedulerModal .row select[readonly], 
.schedulerModal .row textarea[readonly],
.schedulerModal .row .input[readonly] {
	background-color: var(--scheduler-input-background-disabled-color);
	border: 1px solid var(--scheduler-input-border-disabled-color);
	color: var(--scheduler-input-disabled-color);
}

.schedulerModal .row textarea {
	box-sizing: border-box;
	height: 100px;
	resize: none;
}

.schedulerModal .row.timeAndDuration {
	display: flex;
}

.schedulerModal .row.timeAndDuration .timeLabel {
	align-self: center;
}

.schedulerModal .row.timeAndDuration .hour {
	font-size: var(--scheduler-modal-edit-task-date-time-font-size);
	text-align: center;
	width: 2em;
}

.schedulerModal .row.timeAndDuration .timeDelimiter {
	align-self: center;
	font-size: var(--scheduler-modal-edit-task-date-time-font-size);
	line-height: 24px;
	margin: 0px 4px;
}

.schedulerModal .row.timeAndDuration .minute {
	font-size: var(--scheduler-modal-edit-task-date-time-font-size);
	text-align: center;
	width: 2em;
} 

.schedulerModal .row.timeAndDuration .durationLabel {
	align-self: center;
	margin-left: 20px;
}

.schedulerModal .row.timeAndDuration .duration {
	font-size: var(--scheduler-modal-edit-task-date-time-font-size);
	text-align: center;
	width: 3em;
}

.schedulerModal .row.timeAndDuration .durationUnits {
	align-self: center;
	display: block;
	line-height: 24px;
	margin-left: 4px;
}

.schedulerModal .pika-single {
	border: none;
}

.schedulerModal .pika-lendar {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.schedulerModal .footer {
	background-color: var(--scheduler-content-darker-color);
	padding: 8px;
	text-align: right;
}

.schedulerModal .footer button {
	cursor: pointer;
	font-size: 16px;
	padding: 1px 20px;
}

footer {
	font-family: var(--scheduler-font);
	font-size: 12px;
	margin-top: 5px;
	text-align: center;
}